extends layout

block content
  h1= title
  p Welcome to #[em LocalLibrary], a very basic Express website developed as a tutorial example on the Mozilla Developer Network.

  h1 Dynamic content

  p The library has the following record counts:

  ul
    li #[strong Games:] !{game_count}
    li #[strong Accessories:] !{accessories_count}
    li #[strong Game Consoles:] !{game_consoles_count}
    li #[strong Genres:] !{genre_count}
