extends layout

block content
  div(class='content')
  h1= title
  p Welcome to the one stop shop for your gaming needs.

  h1 Dynamic content

  p The store has the following inventory counts:

  ul(class='home-page-list')
    li #[strong Games:] !{game_count}
    li #[strong Accessories:] !{accessories_count}
    li #[strong Game Consoles:] !{game_consoles_count}
    li #[strong Genres:] !{genre_count}
